<div id="featured-content">

  <div class="image_div">
    <img class="tag_image" src="/show_image/0?image_id={{ id }}" />
    <img class="tag_image" src="/show_image/1?image_id={{ id }}" />
    <img class="tag_image" src="/show_image/2?image_id={{ id }}" />
    <img class="tag_image" src="/show_image/3?image_id={{ id }}" />
    <img class="tag_image" src="/show_image/4?image_id={{ id }}" />
  </div>

 <div>
    <div id="inputs">
        <form method="POST" action="/store_tags" id="tag_form">

      <input type="hidden" name="id" value="{{ id }}" />

      <h3>{{ tag_question }}</h3>

      {% if multi_select %}
      <input type="submit" id="submit_button" value="NEXT">

        {% for tag, key in shortcuts.items() %}
        <p>
          <input type="checkbox" name="tags" id="{{ tag }}" value="{{ tag }}"
            class="radio" {%if tag in tags %}checked{% endif %} />
          <label for="{{ tag }}">{{ tag }}</label>
        </p>
        {% endfor %}

      {% else %}

        {% for tag, key in shortcuts.items() %}
        <p>
          <input type="radio" name="tags" id="{{ tag }}" value="{{ tag }}"
            class="radio" {%if tag in tags %}checked{% endif %} />
          <label for="{{ tag }}">{{ tag }}</label>
        </p>
        {% endfor %}

      {% endif %}
      <input type="submit" id="submit_button" value="Next">

    </form>

        <p>&nbsp;</p>

        <div id="info">
      <table>
        <tr><td>ID:</td><td>{{ id }}</td></tr>
        <tr><td>Path:</td><td>{{ path }}</td></tr>
        <tr><td>Tags:</td><td>{{ tags | join(", ") }}</td></tr>
      </table>
    </div>
    </div>
    <div>
      <table>
        <tr><td>Remaining items:</td><td>{{ remaining }}</td></tr>
        <tr><td>Prostate data count:</td><td>{{ count }}</td></tr>
      </table>
    </div>
  </div>

  <br clear="both" />

</div>

<!-- Set label keyboard schortcuts -->
<script language="javascript">
  shortcuts = {
      {% for tag, key in shortcuts.items() %}
          '{{ key }}': '{{ tag }}',
      {% endfor %}
  }
</script>